In [1]:
# import data
import pandas as pd
df=pd.read_csv(r"E:\durga79\PROJECTS\BACT_TEST_PROJECT\BACK_TEST_CSV")
df

    orginal_frequency  predicted_frequency  original_cost  predicted_cost
0                   5                    5           1000            1000
1                   6                    5           1500            1200
2                   7                    6           2000            1300
3                   8                    8           2500            2500
4                   9                    8           1000            1000
5                   7                    7           2000            2000
6                   8                    7           2500            2500
7                   5                    5           3000            3000
8                   4                    4           4000            4000
9                   8                    8           1500            1500
10                  9                    8           1800            1800
11                  5                    5           1200            1200
12                  4                    4           1300            1300
13                  3                    3           1500            1500

In [2]:
# basic checks
df.head()

   orginal_frequency  predicted_frequency  original_cost  predicted_cost
0                  5                    5           1000            1000
1                  6                    5           1500            1200
2                  7                    6           2000            1300
3                  8                    8           2500            2500
4                  9                    8           1000            1000

In [3]:
df.tail()

    orginal_frequency  predicted_frequency  original_cost  predicted_cost
9                   8                    8           1500            1500
10                  9                    8           1800            1800
11                  5                    5           1200            1200
12                  4                    4           1300            1300
13                  3                    3           1500            1500

In [4]:
df.columns

Index(['orginal_frequency', 'predicted_frequency', 'original_cost',
       'predicted_cost'],
      dtype='object')

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 4 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   orginal_frequency    14 non-null     int64
 1   predicted_frequency  14 non-null     int64
 2   original_cost        14 non-null     int64
 3   predicted_cost       14 non-null     int64
dtypes: int64(4)
memory usage: 576.0 bytes

In [6]:
# 1.back test_frequency_delta_percentage
df["bt_fre_delta_pct"]=((df["predicted_frequency"]-df["orginal_frequency"])/df["orginal_frequency"])*100

In [7]:
df

,orginal_frequency,predicted_frequency,original_cost,predicted_cost,bt_fre_delta_pct
0,5,5,1000,1000,0.000000
1,6,5,1500,1200,-16.666667
2,7,6,2000,1300,-14.285714
3,8,8,2500,2500,0.000000
4,9,8,1000,1000,-11.111111
5,7,7,2000,2000,0.000000
6,8,7,2500,2500,-12.500000
7,5,5,3000,3000,0.000000
8,4,4,4000,4000,0.000000
9,8,8,1500,1500,0.000000
10,9,8,1800,1800,-11.111111
11,5,5,1200,1200,0.000000
12,4,4,1300,1300,0.000000
13,3,3,1500,1500,0.000000

In [8]:
# 2.back testing cost delta percentage
df["bt_cost_delta_pct"]=((df["predicted_cost"]-df['original_cost'])/df['original_cost'])*100

In [9]:
df

,orginal_frequency,predicted_frequency,original_cost,predicted_cost,bt_fre_delta_pct,bt_cost_delta_pct
0,5,5,1000,1000,0.000000,0.0
1,6,5,1500,1200,-16.666667,-20.0
2,7,6,2000,1300,-14.285714,-35.0
3,8,8,2500,2500,0.000000,0.0
4,9,8,1000,1000,-11.111111,0.0
5,7,7,2000,2000,0.000000,0.0
6,8,7,2500,2500,-12.500000,0.0
7,5,5,3000,3000,0.000000,0.0
8,4,4,4000,4000,0.000000,0.0
9,8,8,1500,1500,0.000000,0.0
10,9,8,1800,1800,-11.111111,0.0
11,5,5,1200,1200,0.000000,0.0
12,4,4,1300,1300,0.000000,0.0
13,3,3,1500,1500,0.000000,0.0

In [10]:
# 3.Frequency delta
df["Freq_delta"]=df["predicted_frequency"]-df["orginal_frequency"]

In [11]:
df

,orginal_frequency,predicted_frequency,original_cost,predicted_cost,bt_fre_delta_pct,bt_cost_delta_pct,Freq_delta
0,5,5,1000,1000,0.000000,0.0,0
1,6,5,1500,1200,-16.666667,-20.0,-1
2,7,6,2000,1300,-14.285714,-35.0,-1
3,8,8,2500,2500,0.000000,0.0,0
4,9,8,1000,1000,-11.111111,0.0,-1
5,7,7,2000,2000,0.000000,0.0,0
6,8,7,2500,2500,-12.500000,0.0,-1
7,5,5,3000,3000,0.000000,0.0,0
8,4,4,4000,4000,0.000000,0.0,0
9,8,8,1500,1500,0.000000,0.0,0
10,9,8,1800,1800,-11.111111,0.0,-1
11,5,5,1200,1200,0.000000,0.0,0
12,4,4,1300,1300,0.000000,0.0,0
13,3,3,1500,1500,0.000000,0.0,0

In [12]:
# 4.cost delta
df["cost_delta"]=df["predicted_cost"]-df["original_cost"]

In [13]:
df

,orginal_frequency,predicted_frequency,original_cost,predicted_cost,bt_fre_delta_pct,bt_cost_delta_pct,Freq_delta,cost_delta
0,5,5,1000,1000,0.000000,0.0,0,0
1,6,5,1500,1200,-16.666667,-20.0,-1,-300
2,7,6,2000,1300,-14.285714,-35.0,-1,-700
3,8,8,2500,2500,0.000000,0.0,0,0
4,9,8,1000,1000,-11.111111,0.0,-1,0
5,7,7,2000,2000,0.000000,0.0,0,0
6,8,7,2500,2500,-12.500000,0.0,-1,0
7,5,5,3000,3000,0.000000,0.0,0,0
8,4,4,4000,4000,0.000000,0.0,0,0
9,8,8,1500,1500,0.000000,0.0,0,0
10,9,8,1800,1800,-11.111111,0.0,-1,0
11,5,5,1200,1200,0.000000,0.0,0,0
12,4,4,1300,1300,0.000000,0.0,0,0
13,3,3,1500,1500,0.000000,0.0,0,0